<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /web2/TPE-Api/

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ router.php?action=$1 [QSA,L]
</IfModule>